.skills{

    width: 700px;
    color: white;
}

.pro{
    margin: 20px 0;
}
.bar{

    background:transparent;
    display: block;
    height: 10px;
    border: 1px solid rgb(0, 102, 255);
    border-radius: 3px;
    overflow: hidden;
    
}

.bar span {
    height: 10px;
    float: left;
    background: white;
}

.html{
    width: 90%;
    animation: html 2s;
}
.css{
    width: 80%;
    animation: css 2s;
}
.javascript{
    width: 70%;
    animation: javascript 2s;
}

@keyframes html {
0% {
    width: 0%;
}
100% {
    width: 90%;
}

}
@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
    
    }
    @keyframes javascript {
        0% {
            width: 0%;
        }
        100% {
            width: 70%;
        }
        
        }